.wizard-pills li {
	margin-left: 0px !important; 
	width: 33.33333%;
}

.wizard-pills a {
	border-bottom-left-radius : 0px !important ;
	border-bottom-right-radius : 0px !important ;
	border-top-left-radius : 0px !important ;
	border-top-right-radius : 0px !important ;
	text-align: center;
	background-color: #f5f5f5;
}
